
<canvas id="betaPdf{{id}}" style="max-height: 400px"></canvas>

<script>

$(document).ready(function(){
	drawBetaPdf{{id}}("betaPdf{{id}}", {{a}}, {{b}})
})


function drawBetaPdf{{id}}(parentDivId, a, b) {
	console.log(parentDivId)

	let N_BUCKETS = 100

	var xValues = []
	var yValues = []
	for (var i = 0; i < N_BUCKETS + 1; i++) {
		let x = i/(N_BUCKETS * 1.0)
		let y = jStat.beta.pdf(x, a,b).toFixed(5)
		xValues.push(x)
		yValues.push(y)
	}

	let xLabel = 'Values that X can take on'
	let yLabel = 'Probability Density'

	var config = standardPDFConfig(xValues, yValues, xLabel, yLabel)
	var ctx = document.getElementById(parentDivId).getContext('2d');
	new Chart(ctx, config);
}
</script>