<%
	setdefault("min", 0.0)
	setdefault("max", 1.0)
%>
<canvas id="betaPdf{{id}}" style="max-height: 400px"></canvas>

<script>

$(document).ready(function(){
	drawBetaPdf{{id}}("betaPdf{{id}}", {{a}}, {{b}})
})


function drawBetaPdf{{id}}(parentDivId, a, b) {
	console.log(parentDivId)
	let min = {{min}}
	let max = {{max}}
	let N_BUCKETS = 100.0

	var xValues = []
	var yValues = []
	for (var i = 0; i < N_BUCKETS + 1; i++) {
		let t = i / N_BUCKETS
		let x = min + t * (max - min)
		let y = jStat.beta.pdf(x, a,b).toFixed(5)
		xValues.push(x)
		yValues.push(y)
	}

	let xLabel = 'Values that X can take on'
	let yLabel = 'Probability Density'

	var config = standardPDFConfig(xValues, yValues, xLabel, yLabel)
	config['options']['scales']['x'] = {
        max: max,
        min: min,
        type: 'linear',
        ticks: {
            precision: 5
        }
    }
	var ctx = document.getElementById(parentDivId).getContext('2d');
	new Chart(ctx, config);
}
</script>