<!-- Template that renders a single random variable card -->

<div class="bordered">
<p><b>Bernoulli Random Variable</b></p>


<table>
	<tr>
		<th style="width:150px">Notation:</td>
		<td>$X \sim \Ber(p)$</td>
	</tr>
	<tr>
		<th>Parameters:</td>
		<td>$p \in [0, 1]$, the probability that $X=1$.</td>
	</tr>
	<tr>
		<th>Description:</td>
		<td>A boolean variable which is 1 with probability $p$</td>
	</tr>
	
	<tr>
		<th>Support:</td>
		<td>$x \in \{0, 1\}$</td>
	</tr>
	<tr>
		<th>PMF:</th>
		<td>$\p(X=x) = 
			\begin{cases}
				p && \text{if }x = 1\\
				1-p && \text{if }x = 0
			\end{cases}$</td>
	</tr>
	<tr>
		<th>Expectation:</th>
		<td>$\E(X) = p$</td>
	</tr>
	<tr>
		<th>Variance:</th>
		<td>$\var(X) = p (1-p)$</td>
	</tr>
	<tr>
	</tr>
</table>

</div>