<!-- Template that renders a single random variable card -->

<div class="bordered">
<p><b>Geometric Random Variable</b></p>


<table>
<tbody class="rvCardBody">
	<tr>
		<th style="width:150px">Notation:</td>
		<td>$X \sim \Geo(p)$</td>
	</tr>
	<tr>
		<th>Description:</td>
		<td>Number of experiments until a success. Assumes independent experiments each with probability of success $p$.</td>
	</tr>
	<tr>
		<th>Parameters:</td>

		<td>$p \in [0, 1]$, the probability that a single experiment gives a "success".</td>
	</tr>
	
	
	<tr>
		<th>Support:</td>
		<td>$x \in \{1, \dots, \infty\}$</td>
	</tr>
	<tr>
		<th>PMF equation:</th>
		<td class="mathLeft">$$\p(X=x) = (1-p)^{x-1} p$$</td>
	</tr>
	<tr>
		<th>Expectation:</th>
		<td>$\E[X] = \frac{1}{p}$</td>
	</tr>
	<tr>
		<th>Variance:</th>
		<td>$\var(X) = \frac{1-p}{p^2}$</td>
	</tr>
	<tr>
		<th>PMF graph:</th>
	</tr>
</tbody>
</table>
<div class="d-flex">
	
<div>
Parameter $p$: <input onchange="redrawGeometricPmf()" type="number" class="form-control example-inline-input mb-3" id="geometricPmfP" min="0" max="1" value="0.20" step = "0.05">
</div>
</div>
<canvas id="geometricPmf" style="max-height: 400px"></canvas>
</div>

<script>

$(document).ready(function(){
	redrawGeometricPmf()
})

function redrawGeometricPmf() {
	let parentDivId = 'geometricPmf'
	let p = parseFloat($('#geometricPmfP').val())
	drawGeometricPmf(parentDivId, p)
}

function drawGeometricPmf(parentDivId, p) {
	if(window.myGeoLine) {
		window.myGeoLine.destroy()
	}
	console.log(p)

	var xValues = []
	var yValues = []
	var curr_prob = p
	var curr_x = 0
	while(curr_prob > 0.001) {
		if(curr_x == 0) {
			xValues.push(0)
			yValues.push(0)
		} else {
			let pr_x = curr_prob.toFixed(5)
			xValues.push(curr_x)
			yValues.push(pr_x)
			curr_prob *= (1 - p)
		}

		
		curr_x++
	}
	console.log(xValues, yValues)
	let xLabel = 'Values that X can take on'
	let yLabel = 'Probability'

	var config = standardPMFConfig(xValues, yValues, xLabel, yLabel)
	var ctx = document.getElementById(parentDivId).getContext('2d');
	window.myGeoLine = new Chart(ctx, config);
}
</script>