<!-- Template that renders a single random variable card -->

<div class="bordered">
<p><b>Negative Binomial Random Variable</b></p>


<table>
<tbody class="rvCardBody">
	<tr>
		<th style="width:150px">Notation:</td>
		<td>$X \sim \NegBin(r, p)$</td>
	</tr>
	<tr>
		<th>Description:</td>
		<td>Number of experiments until $r$ successes. Assumes each experiment is independent with probability of success $p$.</td>
	</tr>
	<tr>
		<th>Parameters:</td>

		<td>$r > 0$, the number of success we are waiting for.<br/>$p \in [0, 1]$, the probability that a single experiment gives a "success".</td>
	</tr>
	
	
	<tr>
		<th>Support:</td>
		<td>$x \in \{r, \dots, \infty\}$</td>
	</tr>
	<tr>
		<th>PMF equation:</th>
		<td class="mathLeft">$$\p(X=x) = {x - 1 \choose r - 1}p^r(1-p)^{x-r}$$</td>
	</tr>
	<tr>
		<th>Expectation:</th>
		<td>$\E[X] = \frac{r}{p}$</td>
	</tr>
	<tr>
		<th>Variance:</th>
		<td>$\var(X) = \frac{r \cdot (1-p)}{p^2}$</td>
	</tr>
	<tr>
		<th>PMF graph:</th>
	</tr>
</tbody>
</table>
<div class="d-flex">
	<div class="mr-2">
Parameter $r$: <input onchange="redrawNegBinomialPmf()" type="number" class="form-control example-inline-input mb-3" id="negBinomialPmfR" min="1" value="3" step = "1">
</div>
<div>
Parameter $p$: <input onchange="redrawNegBinomialPmf()" type="number" class="form-control example-inline-input mb-3" id="negBinomialPmfP" min="0" max="1" value="0.20" step = "0.05">
</div>
</div>
<canvas id="negBinomialPmf" style="max-height: 400px"></canvas>
</div>

<script>

$(document).ready(function(){
	redrawNegBinomialPmf()
})

function redrawNegBinomialPmf() {
	let parentDivId = 'negBinomialPmf'
	let r = Math.round($('#negBinomialPmfR').val())
	$('#negBinomialPmfR').val(r)
	let p = parseFloat($('#negBinomialPmfP').val())
	drawNegBinomialPmf(parentDivId, r, p)
}

function drawNegBinomialPmf(parentDivId, r, p) {
	if(window.myNegBinLine) {
		window.myNegBinLine.destroy()
	}
	console.log(r, p)

	var xValues = []
	var yValues = []
	var curr_prob = 1
	var i = 0
	while(curr_prob > 0.001 || i < r + 10) {
		if(i < r){
			xValues.push(i)
			yValues.push(0)
		} else {
			var pr_x = jStat.combination(i-1, r-1)
			pr_x *= p ** r
			pr_x *= (1- p) ** (i - r)
			pr_x = pr_x.toFixed(5)
			xValues.push(i)
			yValues.push(pr_x)
			curr_prob = pr_x
		}
		i += 1
	}
	console.log(xValues, yValues)
	let xLabel = 'Values that X can take on'
	let yLabel = 'Probability'

	var config = {
		type: 'bar',
		data: {
			labels: xValues,
			datasets: [{
				label: 'P(x)',
				fill: false,
				backgroundColor: 'blue',
				borderColor: 'blue',
				data: yValues,
				pointRadius:1,
				maxBarThickness:100
			}]
		},
		options: {

			steppedLine: false,
			responsive: true,
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			legend: {
	            display: false
	         },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: xLabel
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: yLabel
					},
					ticks: {
                        beginAtZero: true
                    }
				}]
			}
		}
	};
	var ctx = document.getElementById(parentDivId).getContext('2d');
	window.myNegBinLine = new Chart(ctx, config);
}
</script>