<!-- Template that renders a single random variable card -->

<div class="bordered">
<p><b>Poisson Random Variable</b></p>


<table>
<tbody class="rvCardBody">
	<tr>
		<th style="width:150px">Notation:</td>
		<td>$X \sim \Poi(\lambda)$</td>
	</tr>
	<tr>
		<th>Description:</td>
		<td>Number of events in a fixed time frame if (a) the events occur with a constant mean rate and (b) they occur independently of time since last event.</td>
	</tr>
	<tr>
		<th>Parameters:</td>

		<td>$\lambda \in \mathbb{R}^{+}$, the constant average rate.</td>
	</tr>
	
	
	<tr>
		<th>Support:</td>
		<td>$x \in \{0, 1, \dots\}$</td>
	</tr>
	<tr>
		<th>PMF equation:</th>
		<td class="mathLeft">$$\p(X=x) = \frac{\lambda^xe^{-\lambda}}{x!}$$</td>
	</tr>
	<tr>
		<th>Expectation:</th>
		<td>$\E[X] = \lambda$</td>
	</tr>
	<tr>
		<th>Variance:</th>
		<td>$\var(X) = \lambda$</td>
	</tr>
	<tr>
		<th>PMF graph:</th>
	</tr>
</tbody>
</table>
<div class="d-flex">
	<div class="mr-2">
Parameter $\lambda$: <input onchange="redrawPoissonPmf()" type="number" class="form-control example-inline-input mb-3" id="poissonPmfLambda" min="1" max="130" value="5" step = "1">
</div>
</div>
<canvas id="poissonPmf" style="max-height: 400px"></canvas>
</div>

<script>

$(document).ready(function(){
	redrawPoissonPmf()
})

function redrawPoissonPmf() {
	let parentDivId = 'poissonPmf'
	let lambda = parseFloat($("#poissonPmfLambda").val())
	drawPoissonPmf(parentDivId, lambda)
}

function drawPoissonPmf(parentDivId, lambda) {
	if(window.myPoissonLine) {
		window.myPoissonLine.destroy()
	}

	console.log('lambda',lambda)
	var xValues = []
	var yValues = []
	var i = 0
	while(true){
		let pr_x = jStat.poisson.pdf(i, lambda).toFixed(5)
		xValues.push(i)
		yValues.push(pr_x)
		console.log(i, pr_x)
		i += 1
		if(pr_x < 0.00001 && i > lambda) {
			break;
		}
	}
	console.log(xValues, yValues)
	let xLabel = 'Values that X can take on'
	let yLabel = 'Probability'

	var config = standardPMFConfig(xValues, yValues, xLabel, yLabel)
	var ctx = document.getElementById(parentDivId).getContext('2d');
	window.myPoissonLine = new Chart(ctx, config);
}
</script>