
<!DOCTYPE html>
<html>

<head>
    

    %include templates/head.html

</head>

<script>
  Chart.defaults.global.defaultFontFamily = 'Times New Roman';
  Chart.defaults.global.defaultFontSize = 18;
</script>


<!-- I declare a few math operators I often use in equations -->
<div style="display:none">
  $\DeclareMathOperator{\p}{Pr}$
  $\DeclareMathOperator{\P}{Pr}$
  $\DeclareMathOperator{\c}{^C}$
  $\DeclareMathOperator{\or}{  or}$
  $\DeclareMathOperator{\and}{  and}$
  $\DeclareMathOperator{\var}{Var}$
  $\DeclareMathOperator{\E}{E}$
  $\DeclareMathOperator{\std}{Std}$
  $\DeclareMathOperator{\Ber}{Bern}$
  $\DeclareMathOperator{\Bin}{Bin}$
  $\DeclareMathOperator{\Poi}{Poi}$
  $\DeclareMathOperator{\Exp}{Exp}$
  $\DeclareMathOperator{\N}{N}$
  $\DeclareMathOperator{\R}{\mathbb{R}}$
  $\newcommand{\d}{\, d}$
  
</div>

<body class="greyBackground">


    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/sideBarButton.html

            <button id="curiosityButton" onclick = "onCuriosity()" type="button" class="btn btn-primary btn-sm">
              <span style="font-size:150%">I'm Curious</span>
              <!-- <i class="fas fa-question-circle" style="font-size:200%"></i> -->
              <span></span>
          </button>
            
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col handout" >
              
                        {{!base}}

                        

                         %include templates/footer.html
                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

$(document).ready(function() {
  addH2Numbers()
  enableSearch()
})

function addH2Numbers() {
  $("h2").each(function(i){
    let title = $(this).html()
    title = `${i+1}. ${title}`
    $(this).html(title)
  })
}

function enableSearch() {
  $("#probability-for-digital-world-search").on('keyup', function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
          let query = $("#probability-for-digital-world-search").val()
          
          window.location = `{{pathToLang}}search.html?q=${query}`
      }
  });
  // $.ajax({
  //     type: "GET",
  //     url: "{{pathToRoot}}searchIndex.json",
  //     dataType: "text",
  //     success: function(data) {addSearchIndexData(data);}
  //  });
}

function addSearchIndexData(data) {
  var idx = lunr(function () {
    this.ref('name')
    this.field('text')

    let documents = JSON.parse(data)

    documents.forEach(function (doc) {
      this.add(doc)
      console.log(doc)
    }, this)

    $("#probability-for-digital-world-search").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            let query = $("#probability-for-digital-world-search").val()
            let results = idx.search(query)
            console.log(results)
        }
    });
  })
}

    </script>

</body>




</html>