<!-- intro -->
<ul class="list-unstyled components">
<li>
<a id=sidebar-intro href="{{pathToLang}}intro/intro">Introduction</a>
<a id=sidebar-notation href="{{pathToLang}}intro/notation">Notation Reference</a>
<a id=sidebar-all_distributions href="{{pathToLang}}intro/all_distributions">Random Variable Reference</a>
<a id=sidebar-calculators href="{{pathToLang}}intro/calculators">Calculators</a>
</li>
</ul>

<!-- part1 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part1">Part 1: Core Probability</p></li>
<li>
<a id=sidebar-counting href="{{pathToLang}}part1/counting">Counting</a>
<a id=sidebar-combinatorics href="{{pathToLang}}part1/combinatorics">Combinatorics</a>
<a id=sidebar-probability href="{{pathToLang}}part1/probability">Definition of Probability</a>
<a id=sidebar-equally_likely href="{{pathToLang}}part1/equally_likely">Equally Likely Outcomes</a>
<a id=sidebar-prob_or href="{{pathToLang}}part1/prob_or">Probability of <b>or</b></a>
<a id=sidebar-cond_prob href="{{pathToLang}}part1/cond_prob">Conditional Probability</a>
<a id=sidebar-independence href="{{pathToLang}}part1/independence">Independence</a>
<a id=sidebar-prob_and href="{{pathToLang}}part1/prob_and">Probability of <b>and</b></a>
<a id=sidebar-law_total href="{{pathToLang}}part1/law_total">Law of Total Probability</a>
<a id=sidebar-bayes_theorem href="{{pathToLang}}part1/bayes_theorem">Bayes' Theorem</a>
<a id=sidebar-log_probabilities href="{{pathToLang}}part1/log_probabilities">Log Probabilities</a>
<a id=sidebar-many_flips href="{{pathToLang}}part1/many_flips">Many Coin Flips</a>

<li>
    <a href="#part1_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part1_examples">
        <li><a href="{{pathToLang}}examples/enigma">Enigma Machine</a></li><li><a href="{{pathToLang}}examples/serendipity">Serendipity</a></li><li><a href="{{pathToLang}}examples/bacteria_evolution">Bacteria Evolution</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part2 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part2">Part 2: Random Variables</p></li>
<li>
<a id=sidebar-rvs href="{{pathToLang}}part2/rvs">Random Variables</a>
<a id=sidebar-pmf href="{{pathToLang}}part2/pmf">Probability Mass Functions</a>
<a id=sidebar-expectation href="{{pathToLang}}part2/expectation">Expectation</a>
<a id=sidebar-variance href="{{pathToLang}}part2/variance">Variance</a>
<a id=sidebar-bernoulli href="{{pathToLang}}part2/bernoulli">Bernoulli Distribution</a>
<a id=sidebar-binomial href="{{pathToLang}}part2/binomial">Binomial Distribution</a>
<a id=sidebar-poisson href="{{pathToLang}}part2/poisson">Poisson Distribution</a>
<a id=sidebar-continuous href="{{pathToLang}}part2/continuous">Continuous Distribution</a>
<a id=sidebar-uniform href="{{pathToLang}}part2/uniform">Uniform Distribution</a>
<a id=sidebar-exponential href="{{pathToLang}}part2/exponential">Exponential Distribution</a>
<a id=sidebar-normal href="{{pathToLang}}part2/normal">Normal Distribution</a>
<a id=sidebar-binomial_approx href="{{pathToLang}}part2/binomial_approx">Binomial Approximation</a>

<li>
    <a href="#part2_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part2_examples">
        <li><a href="{{pathToLang}}examples/100_binomial_problems">100 Binomial Problems</a></li><li><a href="{{pathToLang}}examples/jury">Jury Selection</a></li><li><a href="{{pathToLang}}examples/grading_eye_inflammation">Grading Eye Inflamation</a></li><li><a href="{{pathToLang}}examples/norm_cdf_calculator">Gaussian CDF Calculator</a></li><li><a href="{{pathToLang}}examples/grades_not_normal">Grades are Not Normal</a></li><li><a href="{{pathToLang}}examples/curse_of_dimensionality">Curse of Dimensionality</a></li><li><a href="{{pathToLang}}examples/prob_baby_delivery">Probability of Baby Delivery</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part3 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part3">Part 3: Probabilistic Models</p></li>
<li>
<a id=sidebar-joint href="{{pathToLang}}part3/joint">Joint Probability</a>
<a id=sidebar-multinomial href="{{pathToLang}}part3/multinomial">Multinomial</a>
<a id=sidebar-continuous_joint href="{{pathToLang}}part3/continuous_joint">Continuous Joint</a>
<a id=sidebar-inference href="{{pathToLang}}part3/inference">Inference</a>
<a id=sidebar-bayesian_networks href="{{pathToLang}}part3/bayesian_networks">Bayesian Networks</a>
<a id=sidebar-independent_vars href="{{pathToLang}}part3/independent_vars">Independence in Variables</a>
<a id=sidebar-correlation href="{{pathToLang}}part3/correlation">Correlation</a>
<a id=sidebar-computational_inference href="{{pathToLang}}part3/computational_inference">General Inference</a>

<li>
    <a href="#part3_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part3_examples">
        <li><a href="{{pathToLang}}examples/dart_logo">CS109 Logo</a></li><li><a href="{{pathToLang}}examples/fairness">Fairness in AI</a></li><li><a href="{{pathToLang}}examples/federalist">Federalist Paper Authorship</a></li><li><a href="{{pathToLang}}examples/name2age">Name to Age</a></li><li><a href="{{pathToLang}}examples/bridge_distribution">Bridge Distribution</a></li><li><a href="{{pathToLang}}examples/tracking_in_2D">Tracking in 2D</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part4 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part4">Part 4: Uncertainty Theory</p></li>
<li>
<a id=sidebar-beta href="{{pathToLang}}part4/beta">Beta Distribution</a>
<a id=sidebar-summation_vars href="{{pathToLang}}part4/summation_vars">Adding Random Variables</a>
<a id=sidebar-clt href="{{pathToLang}}part4/clt">Central Limit Theorem</a>
<a id=sidebar-samples href="{{pathToLang}}part4/samples">Sampling</a>
<a id=sidebar-bootstrapping href="{{pathToLang}}part4/bootstrapping">Bootstrapping</a>
<a id=sidebar-algorithmic_analysis href="{{pathToLang}}part4/algorithmic_analysis">Algorithmic Analysis</a>

<li>
    <a href="#part4_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part4_examples">
        <li><a href="{{pathToLang}}examples/thompson">Thompson Sampling</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part5 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part5">Part 5: Machine Learning</p></li>
<li>
<a id=sidebar-parameter_estimation href="{{pathToLang}}part5/parameter_estimation">Parameter Estimation</a>
<a id=sidebar-mle href="{{pathToLang}}part5/mle">Maximum Likelihood Estimation</a>
<a id=sidebar-map href="{{pathToLang}}part5/map">Maximum A Posteriori</a>
<a id=sidebar-machine_learning href="{{pathToLang}}part5/machine_learning">Machine Learning</a>
<a id=sidebar-naive_bayes href="{{pathToLang}}part5/naive_bayes">Naïve Bayes</a>
<a id=sidebar-log_regression href="{{pathToLang}}part5/log_regression">Logistic Regression</a>

<li>
    <a href="#part5_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part5_examples">
        <li><a href="{{pathToLang}}examples/mle_demo">MLE Demo</a></li>
    </ul>
</li>
</li>
</ul>

