<!-- intro -->
<ul class="list-unstyled components">
<li>
<a href="{{pathToLang}}intro/intro">Introduction</a>
<a href="{{pathToLang}}intro/notation">Notation</a>
<a href="{{pathToLang}}intro/prob_code">Probability in Code</a>
</li>
</ul>

<!-- part1 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part1">Part 1: Core Probability</p></li>
<li>
<a href="{{pathToLang}}part1/counting">Counting</a>
<a href="{{pathToLang}}part1/combinatorics">Combinatorics</a>
<a href="{{pathToLang}}part1/probability">Definition of Probability</a>
<a href="{{pathToLang}}part1/equally_likely">Equally Likely Outcomes</a>
<a href="{{pathToLang}}part1/prob_or">Probability of <b>or</b></a>
<a href="{{pathToLang}}part1/cond_prob">Conditional Probability</a>
<a href="{{pathToLang}}part1/independence">Independence</a>
<a href="{{pathToLang}}part1/prob_and">Probability of <b>and</b></a>
<a href="{{pathToLang}}part1/law_total">Law of Total Probability</a>
<a href="{{pathToLang}}part1/bayes_theorem">Bayes' Theorem</a>
<a href="{{pathToLang}}part1/log_probabilities">Log Probabilities</a>
</li>
</ul>

<!-- part2 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part2">Part 2: Random Variables</p></li>
<li>
<a href="{{pathToLang}}part2/rvs">Random Variables</a>
<a href="{{pathToLang}}part2/pmf">Likelihood Functions</a>
<a href="{{pathToLang}}part2/expectation">Expectation</a>
<a href="{{pathToLang}}part2/variance">Variance</a>
<a href="{{pathToLang}}part2/binomial">Bernoulli and Binomial</a>
<a href="{{pathToLang}}part2/poisson">Poisson Distribution</a>
<a href="{{pathToLang}}part2/continuous">Continuous Distribution</a>
<a href="{{pathToLang}}part2/normal">Normal Distribution</a>
<a href="{{pathToLang}}part2/convolution">Convolution</a>
<a href="{{pathToLang}}part2/all_distributions">Random Variable Reference</a>
</li>
</ul>

<!-- part3 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part3">Part 3: Probabilistic Models</p></li>
<li>
<a href="{{pathToLang}}part3/joint">Joint Probability</a>
<a href="{{pathToLang}}part3/independent_vars">Independence in Variables</a>
<a href="{{pathToLang}}part3/cond_distributions">Conditional Distributions</a>
<a href="{{pathToLang}}part3/variable_bayes">Bayes Theorem Revisited</a>
<a href="{{pathToLang}}part3/continuous_joint">Continuous Joint</a>
<a href="{{pathToLang}}part3/multivariate_gaussian">Multivariate Gaussian</a>
<a href="{{pathToLang}}part3/bayesian_networks">Bayesian Networks</a>
<a href="{{pathToLang}}part3/computational_inference">Computational Inference</a>
</li>
</ul>

<!-- part4 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part4">Part 4: Uncertainty Theory</p></li>
<li>
<a href="{{pathToLang}}part4/clt">Central Limit Theorem</a>
<a href="{{pathToLang}}part4/bootstrapping">Bootstrapping</a>
<a href="{{pathToLang}}part4/parameters">Uncertainty in Parameters</a>
<a href="{{pathToLang}}part4/beta">Beta Distribution</a>
<a href="{{pathToLang}}part4/bounds">Probability Bounds</a>
</li>
</ul>

<!-- part5 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part5">Part 5: Machine Learning</p></li>
<li>
<a href="{{pathToLang}}part5/mle">Maximum Likelihood Estimation</a>
<a href="{{pathToLang}}part5/map">Maximum A Posteriori</a>
<a href="{{pathToLang}}part5/naive_bayes">Naïve Bayes</a>
<a href="{{pathToLang}}part5/optimization">Gradient Ascent Optimization</a>
<a href="{{pathToLang}}part5/linear_regression">Linear Regression</a>
<a href="{{pathToLang}}part5/log_regression">Logistic Regression</a>
<a href="{{pathToLang}}part5/neural_nets">Artificial Neural Networks</a>
</li>
</ul>

