<!-- intro -->
<ul class="list-unstyled components">
<li>
</li>
</ul>

<!-- part1 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part1">Part 1: Core Probability</p></li>
<li>
<a id=sidebar-counting href="{{pathToLang}}part1/counting">Counting</a>
<a id=sidebar-combinatorics href="{{pathToLang}}part1/combinatorics">Combinatorics</a>
<a id=sidebar-probability href="{{pathToLang}}part1/probability">Definition of Probability</a>
<a id=sidebar-equally_likely href="{{pathToLang}}part1/equally_likely">Equally Likely Outcomes</a>
<a id=sidebar-prob_or href="{{pathToLang}}part1/prob_or">Probability of <b>or</b></a>
<a id=sidebar-cond_prob href="{{pathToLang}}part1/cond_prob">Conditional Probability</a>
<a id=sidebar-independence href="{{pathToLang}}part1/independence">Independence</a>
<a id=sidebar-prob_and href="{{pathToLang}}part1/prob_and">Probability of <b>and</b></a>
<a id=sidebar-law_total href="{{pathToLang}}part1/law_total">Law of Total Probability</a>
<a id=sidebar-bayes_theorem href="{{pathToLang}}part1/bayes_theorem">Bayes' Theorem</a>
<a id=sidebar-log_probabilities href="{{pathToLang}}part1/log_probabilities">Log Probabilities</a>

<li>
    <a href="#part1_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part1_examples">
        <li><a href="{{pathToLang}}examples/enigma">Enigma Machine</a></li><li><a href="{{pathToLang}}examples/serendipity">Serendipity</a></li><li><a href="{{pathToLang}}examples/bacteria_evolution">Bacteria Evolution</a></li><li><a href="{{pathToLang}}examples/many_flips">Many Coin Flips</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part2 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part2">Part 2: Random Variables</p></li>
<li>
<a id=sidebar-rvs href="{{pathToLang}}part2/rvs">Random Variables</a>
<a id=sidebar-pmf href="{{pathToLang}}part2/pmf">Probability Mass Functions</a>
<a id=sidebar-expectation href="{{pathToLang}}part2/expectation">Expectation</a>
<a id=sidebar-variance href="{{pathToLang}}part2/variance">Variance</a>
<a id=sidebar-bernoulli href="{{pathToLang}}part2/bernoulli">Bernoulli Distribution</a>
<a id=sidebar-binomial href="{{pathToLang}}part2/binomial">Binomial Distribution</a>
<a id=sidebar-poisson href="{{pathToLang}}part2/poisson">Poisson Distribution</a>
<a id=sidebar-continuous href="{{pathToLang}}part2/continuous">Continuous Distribution</a>
<a id=sidebar-uniform href="{{pathToLang}}part2/uniform">Uniform Distribution</a>
<a id=sidebar-exponential href="{{pathToLang}}part2/exponential">Exponential Distribution</a>
<a id=sidebar-normal href="{{pathToLang}}part2/normal">Normal Distribution</a>
<a id=sidebar-binomial_approx href="{{pathToLang}}part2/binomial_approx">Binomial Approximation</a>
<a id=sidebar-all_distributions href="{{pathToLang}}part2/all_distributions">Random Variable Reference</a>

<li>
    <a href="#part2_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part2_examples">
        <li><a href="{{pathToLang}}examples/prob_baby_delivery">Probability of Baby Delivery</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part3 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part3">Part 3: Probabilistic Models</p></li>
<li>
<a id=sidebar-joint href="{{pathToLang}}part3/joint">Joint Probability</a>
<a id=sidebar-multinomial href="{{pathToLang}}part3/multinomial">Multinomial</a>
<a id=sidebar-independent_vars href="{{pathToLang}}part3/independent_vars">Independence in Variables</a>

<li>
    <a href="#part3_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part3_examples">
        <li><a href="{{pathToLang}}examples/fairness">Fairness in AI</a></li><li><a href="{{pathToLang}}examples/federalist">Federalist Paper Authorship</a></li><li><a href="{{pathToLang}}examples/bridge_distribution">Bridge Distribution</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part4 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part4">Part 4: Uncertainty Theory</p></li>
<li>
<a id=sidebar-summation_vars href="{{pathToLang}}part4/summation_vars">Adding Random Variables</a>
<a id=sidebar-clt href="{{pathToLang}}part4/clt">Central Limit Theorem</a>
<a id=sidebar-bootstrapping href="{{pathToLang}}part4/bootstrapping">Bootstrapping</a>
<a id=sidebar-parameters href="{{pathToLang}}part4/parameters">Uncertainty in Parameters</a>
<a id=sidebar-beta href="{{pathToLang}}part4/beta">Beta Distribution</a>
<a id=sidebar-bounds href="{{pathToLang}}part4/bounds">Probability Bounds</a>

<li>
    <a href="#part4_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part4_examples">
        <li><a href="{{pathToLang}}examples/thompson">Thompson Sampling</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part5 -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part5">Part 5: Machine Learning</p></li>
<li>
<a id=sidebar-mle href="{{pathToLang}}part5/mle">Maximum Likelihood Estimation</a>
<a id=sidebar-map href="{{pathToLang}}part5/map">Maximum A Posteriori</a>
<a id=sidebar-naive_bayes href="{{pathToLang}}part5/naive_bayes">Naïve Bayes</a>
<a id=sidebar-optimization href="{{pathToLang}}part5/optimization">Gradient Ascent Optimization</a>
<a id=sidebar-linear_regression href="{{pathToLang}}part5/linear_regression">Linear Regression</a>
<a id=sidebar-log_regression href="{{pathToLang}}part5/log_regression">Logistic Regression</a>
<a id=sidebar-neural_nets href="{{pathToLang}}part5/neural_nets">Artificial Neural Networks</a>

<li>
    <a href="#part5_examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part5_examples">
        <li><a href="{{pathToLang}}examples/vision_test">Vision Test</a></li>
    </ul>
</li>
</li>
</ul>

