
<!DOCTYPE html>
<html>

<head>
    

    %include templates/head.html

</head>


<!-- I declare a few math operators I often use in equations -->
<div style="display:none">
  $\DeclareMathOperator{\p}{Pr}$
  $\DeclareMathOperator{\P}{Pr}$
  $\DeclareMathOperator{\c}{^C}$
  $\DeclareMathOperator{\or}{  or}$
  $\DeclareMathOperator{\and}{  and}$
  $\DeclareMathOperator{\var}{Var}$
  $\DeclareMathOperator{\E}{E}$
  $\DeclareMathOperator{\std}{Std}$
</div>

<body class="greyBackground">


    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/sideBarButton.html

            <button id="curiosityButton" onclick = "onCuriosity()" type="button" class="btn btn-primary btn-sm">
              <i class="fas fa-question-circle" style="font-size:200%"></i>
              <span></span>
          </button>
            
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col handout" >
              
                        {{!base}}

               

                         %include templates/footer.html
                
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
function onCuriosity() {
    Swal.fire({
      title: 'Curious?',
      position: 'bottom-end',
      text: 'What sort of feedback do you have?',
      icon: 'info',
      confirmButtonText: 'Cool'
    })
}
  </script>


</html>