

<script type="text/javascript">
    // const firebase = require("firebase");
    // Required for side-effects
    // require("firebase/firestore");

    $(document).ready(function () {
        console.log('ready')
        const scrollTop = getScrollTop()
        console.log(scrollTop)
        $("#sidebar").scrollTop(scrollTop)
        $("#sidebar").scroll(function() {
          localStorage.scrollTop = $("#sidebar").scrollTop()
        })
        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal",
        //     mouseWheel: {preventDefault: true},
        //     advanced:{
        //      autoScrollOnFocus: false,
        //      updateOnContentResize: true
        //     },
        //     scrollInertia:0,
        //     contentTouchScroll:1,
        //     mouseWheel: {
        //         scrollAmount:1000
        //     },
        //     setTop:scrollTop + 'px',
        //     callbacks:{
        //         onScroll:function(){
        //             if(hasStorage) {

        //                 localStorage.scrollTop = this.mcs.top;
        //                 console.log(localStorage.scrollTop)
        //             }
        //         }
        //     } 
        // });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        //this highlights the link if the last two parts of url path and active link match
        let lastPart = getUrlKey()
        console.log("lastPart", lastPart)
        $("#sidebar").find('a').each(function(){
            let currLink = $($(this)[0]).attr('href')
            let currLastPart = getLastPartOfUrl(currLink)
            if (currLastPart === lastPart) {
                console.log("currLastPart", currLastPart)
                $($(this)[0]).addClass('active-link');
            }
        })

        
    });

    function getScrollTop() {
        console.log('here')
        if(typeof(Storage) !== "undefined") {
            return Number(localStorage.scrollTop)
        }
        return 0;
    }

    function getUrlKey() {
        let path = window.location.pathname;
        return path.split("/").slice(2,-1).join("/")
        
    }

    function getLastPartOfUrl(path) {
        if (path) {
            return path.split("/").slice(-2).join("/")
        }
        return ""
    }

    function submitQuestion() {
        firebase.initializeApp({
          apiKey: "AIzaSyBqZVV7Qrp0DT3aBCCTCTMUCrPJO0pb3tY",
          authDomain: "probability-digital-world.firebaseapp.com",
          projectId: "probability-digital-world"
        });

        var db = firebase.firestore();

        db.collection("questions").add({
            email: $("#question-email").val(),
            question: "Lovelace",
            page: getUrlKey()
        })
        .then(function(docRef) {
            console.log("Document written with ID: ", docRef.id);
            alert('success')
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });
        // // // Generate a new push ID for the new post
        // var questionListRef = db.child("questions")
        // var newQuestionRef = questionListRef.push();
        // newQuestionRef.set({
        //     'title':'test'
        // });
        
    }

    function onCuriosity() {
        Swal.fire({
          title: 'Curious?',
          position: 'bottom-end',
          allowOutsideClick:false,
          backdrop:false,
          confirmButtonText: 'Submit',
          input: 'textarea',
          html:
            '<p>We are trying to make this book better. Let us know if you find something confusing. If you ask a question we will try to answer it. If you find a mistake we will fix it. </p>' +
            '<input placeholder="Your email (optional)..." id="question-email" class="swal2-input">',
          inputPlaceholder: 'Type your question or message here...',
          inputAttributes: {
            'aria-label': 'Type your question or message here'
          },
          showCancelButton: true,
          preConfirm: () => submitQuestion()
        })
    }
</script>
