<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>


<script type="text/javascript">
    // const firebase = require("firebase");
    // Required for side-effects
    // require("firebase/firestore");

    $(document).ready(function () {

        const hasStorage = typeof(Storage) !== "undefined"
        const scrollTop = getScrollTop()
        console.log(scrollTop)
        $("#sidebar").mCustomScrollbar({
            theme: "minimal",
            mouseWheel: {preventDefault: true},
            advanced:{
             autoScrollOnFocus: false,
             updateOnContentResize: true
            },
            scrollInertia:0,
            contentTouchScroll:1,
            setTop:scrollTop + 'px',
            callbacks:{
                onScroll:function(){
                    if(hasStorage) {

                        localStorage.scrollTop = this.mcs.top;
                        console.log(localStorage.scrollTop)
                    }
                }
            } 
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        
        let lastPart = getUrlKey()

        // $(".scroller-back").mCustomScrollbar("scrollTo", $("#" +scrollKey), {
        //     scrollInertia:0
        // });

        // addExampleToFirebase()
    });

    function getScrollTop() {
        if(typeof(Storage) !== "undefined") {
            return Number(localStorage.scrollTop)
        }
        return 0;
    }

    function getUrlKey() {
        var pathname = window.location.pathname;
        
        let parts = pathname.split('/')
        var currIndex = parts.length - 1
        while(currIndex >= 0) {
            let nextPart = parts[currIndex]
            if(nextPart) {
                return nextPart
            }
            currIndex -= 1
        }
        return ''
    }

    function submitQuestion() {
        firebase.initializeApp({
          apiKey: "AIzaSyBqZVV7Qrp0DT3aBCCTCTMUCrPJO0pb3tY",
          authDomain: "probability-digital-world.firebaseapp.com",
          projectId: "probability-digital-world"
        });

        var db = firebase.firestore();

        db.collection("questions").add({
            email: $("#question-email").val(),
            question: "Lovelace",
            page: getUrlKey()
        })
        .then(function(docRef) {
            console.log("Document written with ID: ", docRef.id);
            alert('success')
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });
        // // // Generate a new push ID for the new post
        // var questionListRef = db.child("questions")
        // var newQuestionRef = questionListRef.push();
        // newQuestionRef.set({
        //     'title':'test'
        // });
        
    }

    function onCuriosity() {
        Swal.fire({
          title: 'Curious?',
          position: 'bottom-end',
          allowOutsideClick:false,
          backdrop:false,
          confirmButtonText: 'Submit',
          input: 'textarea',
          html:
            '<p>We are trying to make this book better. Let us know if you find something confusing. If you ask a question we will try to answer it. If you find a mistake we will fix it. </p>' +
            '<input placeholder="Your email (optional)..." id="question-email" class="swal2-input">',
          inputPlaceholder: 'Type your question or message here...',
          inputAttributes: {
            'aria-label': 'Type your question or message here'
          },
          showCancelButton: true,
          preConfirm: () => submitQuestion()
        })
    }
</script>

<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>