<nav id="sidebar">
    <div class="sidebar-header">
        <!-- <div></div> -->
        <a style="text-align:left" href="{{pathToLang}}index.html"><h3></i> Probability<br/>For Computer Science<br/></h3></a>
    </div>

    <div> 
        <!-- Put a link back to cs109 -->
    

        <!-- This adds a search bar! -->
        <div class="searchCol" style="font-family: 'Source Sans Pro', sans-serif;">
            
            <input type="text" class="form-control bookSearch" id="probability-for-digital-world-search" aria-describedby="search box" placeholder="🔍 Search book..."/>
        </div>
        
    </div>

    %include templates/chapterList.html 


    <!-- <ul class="list-unstyled components">
        
         <li>
            <p>Part ?: Misfits</p>
        </li>
        <li>
             <a href="{{pathToLang}}examples/probBabies.html">Probability and babies</a>
            
             <a href="{{pathToLang}}">Sampling from a likelihood function</a>
             <a href="{{pathToLang}}">Law of Total Expectation</a>
            
        </li>
    </ul> -->



    <ul class="list-unstyled CTAs">
        <li>
            Ⓒ Chris Piech, Stanford University
            <!-- <a href="https://compedu.stanford.edu/codeinplace/v1/#/course" class="download">Back to Code in Place</a> -->
        </li>
    </ul>
</nav>