<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{{pathToLang}}"><h3><i class="fas fa-seedling"></i> Coding Probability</h3></a>
    </div>

    %include templates/chapterList.html 


    <ul class="list-unstyled components">
        
         <li>
            <p>Part ?: Misfits</p>
        </li>
        <li>
            
             <a href="{{pathToLang}}">Sampling from a likelihood function</a>
             <a href="{{pathToLang}}">Law of Total Expectation</a>
            
        </li>
    </ul>



    <ul class="list-unstyled CTAs">
        <li>
            Ⓒ Chris Piech, Stanford University
            <!-- <a href="https://compedu.stanford.edu/codeinplace/v1/#/course" class="download">Back to Code in Place</a> -->
        </li>
    </ul>
</nav>