<nav id="sidebar">
    <div class="sidebar-header">
        <!-- <div></div> -->
        <a style="text-align:left" href="{{pathToLang}}index.html"><h3></i> Probability<br/>For Computer Science<br/></h3></a>
    </div>

    <div> 
        <!-- Put a link back to cs109 -->
    

        <!-- This adds a search bar! -->
        <div class="searchCol" style="font-family: 'Source Sans Pro', sans-serif;">
            
            <input type="text" class="form-control bookSearch" id="probability-for-digital-world-search" aria-describedby="search box" placeholder="🔍 Search book..."/>
        </div>
        
    </div>

    %include templates/chapterList.html 

    <ul class="list-unstyled CTAs">
        <li>
            Ⓒ Chris Piech, Stanford University
        </li>
    </ul>
</nav>