<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{{pathToLang}}"><h3><i class="fas fa-home"></i> Probability for CS</h3></a>
    </div>

    <ul class="list-unstyled components">
       <!--  <p>Chris Piech</p> -->
        
        <li>
            <a href="{{pathToLang}}intro">Introduction</a>
            <a href="{{pathToLang}}notation">Notation</a>
            <a href="{{pathToLang}}python">Probability in Python</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li>
            <p>Part I: Core Probability</p>
        </li>

        <li>
            <a href="{{pathToLang}}counting">Counting</a>
        </li>

         <li>
            <a href="{{pathToLang}}">Combinatorics</a>
        </li>

        <li>
            <a href="{{pathToLang}}probability">Definition of Probability</a>
        </li>

        <li>
            <a href="{{pathToLang}}equally">Equally Likely Outcomes</a>
        </li>

        <li>
            <a href="{{pathToLang}}probOr">Probability of "or"</a>
        </li>

        <li>
            <a href="{{pathToLang}}probOr">Probability of "and"</a>
        </li>

        <li>
            <a href="{{pathToLang}}probability">Analytic Probability</a>
        </li>

        <li>
            <a href="{{pathToLang}}probability">Randomness in Computers</a>
        </li>

        <li>
            <a href="{{pathToLang}}probability">Log Probabilities</a>
        </li>
        

    </ul>

    <ul class="list-unstyled components">
        
         <li>
            <p>Part II: Random Variables</p>
        </li>
        <li>
             
             <a href="{{pathToLang}}">Likelihood Functions</a>
             <a href="{{pathToLang}}">Expectation</a>
             <a href="{{pathToLang}}">Variance</a>

             <a href="{{pathToLang}}">Bernoulli and Binomial</a>
             <a href="{{pathToLang}}">Poisson</a>
             <a href="{{pathToLang}}">Continuous Distributions</a>
             <a href="{{pathToLang}}">Normal Disribution</a>
             <a href="{{pathToLang}}">Convolution</a>
             <a href="{{pathToLang}}">Parametric Variable List</a>

              
        </li>
    </ul>


    <ul class="list-unstyled components">
        
         <li>
            <p>Part III: Probabilistic Models</p>
        </li>
        <li>
             <a href="{{pathToLang}}">Joint Probability</a>
             <a href="{{pathToLang}}">Independence in Variables</a>
             <a href="{{pathToLang}}">Conditional Distributions</a>
             <a href="{{pathToLang}}">Inference</a>
             <a href="{{pathToLang}}">Bayesian Networks</a>
             <a href="{{pathToLang}}">Continuous Joint</a>
             <a href="{{pathToLang}}">Multivariate Gaussian</a>
             
              <a href="{{pathToLang}}">Computational Inference</a>
              
             
             
        </li>
    </ul>

       <ul class="list-unstyled components">
        
         <li>
            <p>Part IV: Uncertainty Theory</p>
        </li>
        <li>
             <a href="{{pathToLang}}">Central Limit Theorem</a>
             <a href="{{pathToLang}}">Bootstrapping</a>
             <a href="{{pathToLang}}">Parameters</a>
             <a href="{{pathToLang}}">Beta Distributions</a>
             <a href="{{pathToLang}}">Probability Bounds</a>              
        </li>
    </ul>

    <ul class="list-unstyled components">
        
         <li>
            <p>Part V: Machine Learning</p>
        </li>
        <li>
            <a href="{{pathToLang}}">Maximum Likelihood Estimation</a>
             <a href="{{pathToLang}}">Maximum A Posteriori</a>
              <a href="{{pathToLang}}">Naïve Bayes</a>
              <a href="{{pathToLang}}">Gradient Ascent Optimization</a>
              <a href="{{pathToLang}}">Logistic Regression</a>
              <a href="{{pathToLang}}">Artificial Neural Networks</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        
         <li>
            <p>Part ?: Misfits</p>
        </li>
        <li>
            
             <a href="{{pathToLang}}">Sampling from a likelihood function</a>
             <a href="{{pathToLang}}">Law of Total Expectation</a>
            
        </li>
    </ul>



    <ul class="list-unstyled CTAs">
        <li>
            Ⓒ Chris Piech, Stanford University
            <!-- <a href="https://compedu.stanford.edu/codeinplace/v1/#/course" class="download">Back to Code in Place</a> -->
        </li>
    </ul>
</nav>