<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{{pathToLang}}"><h3><i class="fas fa-home"></i> Probability for CS</h3></a>
    </div>

    <ul class="list-unstyled components">
       <!--  <p>Chris Piech</p> -->

       <li>
            <a href="{{pathToLang}}freeBook">A Free Online Textbook</a>
        </li>
        
        <li>
            <a href="{{pathToLang}}intro">Introduction</a>
        </li>

        <li>
            <a href="{{pathToLang}}notation">Notation</a>
        </li>

        <li>
            <a href="{{pathToLang}}probability">Definition of Probability</a>
        </li>

        

        

        <!-- <li><a><b>Part 1: Analytic Probability</b></a></li> -->

        <li>
            <a href="{{pathToLang}}counting">Counting</a>
        </li>

        

        <li>
            <a href="{{pathToLang}}equallyLikely">Equally Likely Outcomes</a>
        </li>

        <li>
            <a href="{{pathToLang}}probOr">Probability of <b><i>or</i></b></a>
        </li>

        <li>
            <a href="{{pathToLang}}probAnd">Probability of <b><i>and</i></b></a>
        </li>

        <li>
            <a href="{{pathToLang}}conditional">Conditional Probability</a>
        </li>

        <li>
            <a href="{{pathToLang}}totalProbability">Law of Total Probability</a>
        </li>

        <li>
            <a href="{{pathToLang}}bayesTheorem">Bayes' Theorem</a>
        </li>

         <!-- <li><a><b>Part 2: Random Variables</b></a></li> -->

        


        

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            Ⓒ Chris Piech, Stanford University
            <!-- <a href="https://compedu.stanford.edu/codeinplace/v1/#/course" class="download">Back to Code in Place</a> -->
        </li>
    </ul>
</nav>